<?xml version='1.0' encoding='utf-8'?>
<widget id="" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>|TIC.TAC.TOE| LTgames.</name>
	<description>
		UNBEATABLE AI BUILT TIC.TAC.TOE|LTgames.
                Copyright © 2020 Lahsiv Technologies.All rights reserved.
	</description>

	<author email="lahsivtechnologies@gmail.com" href="https://github.com/vishalbiji/TIC-TAC-TOE">
	   LT Team
	</author>

	<preference name="LT-version" value="cli-6.0.0" />
	
	 
    
</widget>
