<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>|TIC.TAC.TOE| LTgames.</name>
    <description>
        UNBEATABLE AI BUILT TIC.TAC.TOE|LTgames.
                Copyright © 2020 Lahsiv Technologies.All rights reserved.
    </description>
    <author email="lahsivtechnologies@gmail.com" href="http://pushwoosh.com">
        Pushwoosh
    </author>
    <preference name="phonegap-version" value="cli-6.5.0" />
   
</widget>
